@import url('https://fonts.googleapis.com/css?family=Esteban|Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    nav{
        .navbar-brand{
            text-transform: uppercase;
        }
        .nav-link{
            color: black !important;
        }
    }
    .intro-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        text-align: center;
        background-color: #fcea2b;
        padding: 5%;
        h1{
            font-size: 50px;
            font-weight: 900;
            span{
                color: white;
            }
        }
        h4{
            span{
                // text-decoration: underline;
                border-bottom: 6px solid white;
                font-size: 24px;
            }
        }
    }
    .intro-flex1{
        // height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .container-fluid{
            padding: 0 5%;
            h2{
                font-weight: 900;
                font-family: 'Montserrat', sans-serif;
            }
            p{                
                font-family: 'Esteban', serif;
            }
        }
    }  
    @media(min-width: 992px)  {
        .intro-flex1{
            height: 100vh;
            p{
                font-size: 26px;
                line-height: 35.1px;
            }
        }
    }
    @media(max-width: 992px)  {
        .intro-flex1{
            padding: 8% 0;
            // height: 100vh;
            p{
                text-align: justify;
            }
        }
    }
    .intro-flex-2{
        // height: 100vh;
        background-color: #fcea2b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-weight: 900;
            font-family: 'Montserrat', sans-serif;
        }
        h5{
            font-weight: 900;
            font-family: 'Montserrat', sans-serif;
        }
        h3, p{
            font-family: 'Esteban', serif;
        }
        h3{
            // border-bottom: 2px solid white;
            text-decoration: underline;
            text-decoration-color: white;
        }
        p{
            span{
                font-weight: 900;
            }
        }
    }
    @media(min-width: 992px){
        .intro-flex-2{
            height: 100vh;
        } 
    }
    @media(max-width: 992px){
        .intro-flex-2{
            padding: 8% 0;
        }
    }

    .intro-flex-3{
        height: 50vh;
        background-color: #000;
        padding: 3%;
        text-align: center;
        h5{
            color: yellow;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 40px;
            letter-spacing: 3px;
            span{
                // border-bottom: 5px solid white;
            }
        }
        .row{
            .col-md-6{
                padding: 3%;
                h6{
                    color: white;
                    font-size: 30px;
                    font-weight: 900;
                    a{
                        color: yellow;
                        border-bottom: 3px solid white;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}